<div id="detect" class="ads ad adsbox doubleclick ad-placement carbon-ads"></div>
<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/logs">
      <mat-icon>code_blocks</mat-icon>
      <span>Show logs</span>
    </button>
  </mat-menu>

  <button mat-icon-button routerLink="/" aria-label="Menu">
    <mat-icon>home</mat-icon>
  </button>

  <span>Sign Request By Fingerprint (POC)</span>
  <span class="spacer"></span>

  <button *ngIf="showFingerPrintButton" mat-icon-button (click)="ping()" aria-label="Show fingerprint">
    <mat-icon>stream</mat-icon>
  </button>

  <button *ngIf="!showFingerPrintButton" mat-button aria-label="Loading Fingerprint"
          style="height: 48px; width: 48px; min-width: 48px; padding: 0; border-radius: 50%">
    <mat-spinner style="height: 2rem; width: 2rem;" color="accent"></mat-spinner>
  </button>
  <button *ngIf="showFingerPrintButton" mat-icon-button (click)="showFingerprint()" aria-label="Show fingerprint">
    <mat-icon>fingerprint</mat-icon>
  </button>
  <button mat-icon-button aria-label="Status">
    <mat-icon>{{currentState}}</mat-icon>
  </button>
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="currentState!= 'pending'"></mat-progress-bar>
<div class="contents">
  <router-outlet></router-outlet>
</div>
