:host {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.contents {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e5f2f9;
}
