mat-dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 80vh;
  height: 70vw;
  background: #1e1e1e;
  color: #fdfdfd;
}
