:host {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  margin-bottom: 1rem;
  min-width: 10rem;
}

.profileButtons, .loggedIn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
  }
}
